@tailwind base;
@tailwind components;
@tailwind utilities;

/* Brand defaults */
html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  @apply bg-background-light text-stone-900 dark:bg-background-dark dark:text-stone-100;
}

/* Full-height layout baseline */
/* html, body, #root {
  height: 100%;
} */
