.AiSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-inline: auto;
    margin-top: 50px;
}
.image{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.description{
    font-size: 12px;
    text-align: center;
}
.searchContainer{
    position: relative;
    width: 90%;
    height: 159px;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
}
.textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 10px;
    margin: auto;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    background-color: #FD6730;
    color: #fff;
    width: 87px;
    height: 36px;
    border-radius: 10px;
    border: none;
    right: 10px;
    bottom: 10px;
}