.FeedBack{
    width: 100%;
    margin-top: 50px;
}
.mainTitle{
    font-size: 15px;
    text-align: center;
}
.icon{
    color: #FD6730;
    padding-right: 10px;
}
.feedbackContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
}
.description{
    font-size: 12px;
}
.feedbackCard{
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.profile{
    width: 60px;
    height: 60px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.small{
    font-size: 10px;
}
.star {
  color: gold;
  font-size: 20px;
  margin-right: 2px;
}

.rating {
  display: flex;
  margin: 8px 0;
}
.exploreContainer{
    width: 90%;
    max-width: 348px;
    height: 297px;
    background: linear-gradient(180deg, #FD6730 63.46%, #FF7F50 100%);
    border-radius: 20px;
    margin-inline: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #fff;
}
.details{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    margin: auto;
}
.explore{
    width: 270px;
    height: 55px;
    border: none;
    background-color: #fff;
    color: #222;
    border-radius: 10px;
    font-style: 15px;
    margin: auto;
}
