.Nav{
    width: calc(100% - 44px);
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.logo{
    width: 84px;
    height: 22px;
    object-fit: cover;
}
.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.menu{
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.signin{
    width: 85px;
    height: 30px;
    background: #FD6730;
    border: none;
    border-radius: 10px;
    color: #fff;
}